.2_4 { 
	overflow:hidden;
}
.e2_4 { 
	width:1440px;
	height:3072px;
	position:absolute;
}
.e13_41 { 
	background-color:rgba(251.00000023841858, 206.0000029206276, 177.0000046491623, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:2048px;
}
.e19_7 { 
	width:1058px;
	height:658px;
	position:absolute;
	left:210px;
	top:95px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_42 { 
	color:rgba(253.93750101327896, 253.93750101327896, 253.93750101327896, 1);
	width:495px;
	height:310px;
	position:absolute;
	left:491px;
	top:269px;
	font-family:Lemon;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
	  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}
.e13_45 { 
	width:658px;
	height:616px;
	position:absolute;
	left:923px;
	top:570px;
	background-image:url(pngwing_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_44 { 
	width:682px;
	height:800px;
	position:absolute;
	left:-111px;
	top:386px;
	background-image:url(pngwing_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e12_35 { 
	background-color:rgba(251.00000023841858, 206.0000029206276, 177.0000046491623, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:1024px;
}
.e19_5 { 
	width:1058px;
	height:658px;
	position:absolute;
	left:191px;
	top:183px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
	background-image:url(image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_6 { 
	color:rgba(249.95312601327896, 236.41399651765823, 236.41399651765823, 1);
	width:599px;
	height:383px;
	position:absolute;
	left:420px;
	top:311px;
	font-family:Lemon;
	text-align:center;
	font-size:32px;
	 -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;

}
.e2_3 { 
	background-color:rgba(251.00000023841858, 206.0000029206276, 177.0000046491623, 1);
	width:1440px;
	height:1024px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_2 { 
	color:rgba(0, 0, 0, 1);
	width:631px;
	height:78px;
	position:absolute;
	left:404px;
	top:76px;
	font-family:Lemon;
	text-align:center;
	font-size:48px;
	letter-spacing:0;


}
.e11_3 { 
	width:345px;
	height:281px;
	position:absolute;
	left:522px;
	top:155px;
	background-image:url(machiko.gif);
	background-repeat:no-repeat;
	background-size:cover;
}
.e26_9 {
	width:1600px;
	height:900px;
	position:absolute;
	left:-79.99993896484375px;
	top:-132px;
	background-image:url(pngwing_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}