<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel ="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Lemon&display=swap" rel="stylesheet">
    <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>

</head>
<body>
 <div class=e2_4><div class=e13_41><div  class="e19_7"></div><span  class="e13_42">I made this site with my own hands, I hope you like it, and for me the best gift for the new year is you, the best girl, I wish you all the best mommy</span><div  class="e13_45"></div><div  class="e13_44"></div></div><div class=e12_35><div  class="e19_5"></div><span  class="e19_6">May the year bring you great luck, lots of interesting ideas and bright moments. I wish you a life as delicious as olivier and emotions raging like champagne. Fulfillment of all desires and all the best. Happy New Year!
</span></div><div class=e2_3><span  class="e3_2">Happy New Year !</span><div  class="e11_3"></div> <div class="e26_9"></div></div></div>
</body>
</html>